@model List<BookShop.Data.Models.Orders>

@{
    ViewData["Title"] = "QL_DonHang Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@await Html.PartialAsync("response")

<div class="container-xxl py-5" style="margin-top: 100px">
    <div class="container">
        <div class="row g-0 gx-5 align-items-end">
            <div class="col-lg-6">
                <div class="section-header text-start mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
                    <h1 class="display-5 mb-3">Quản lí đơn hàng</h1>
                </div>
            </div>
        </div>
        <div class="tab-content">
            <div id="tab-1" class="tab-pane fade show p-0 active">
                <div class="row g-4">
                    @if (Model.Count > 0)
                    {
                        int stt = 1;

                        <div class="table-responsive card mt-2">
                            <table class="table table-hover">
                                <tr>
                                    <th>#</th>
                                    <th>Mã đơn hàng</th>
                                    <th>Số điện thoại</th>
                                    <th>Email</th>
                                    <th>Địa chỉ</th>
                                    <th>Ngày đặt hàng</th>
                                    <th>Tổng tiền</th>
                                    <th>Ghi chú</th>
                                    <th>Trạng thái</th>
                                    <th></th>
                                </tr>
                                @foreach (var item in Model)
                                {

                                    <tr>
                                        <td>@(stt++)</td>
                                        <td>
                                            <label style="width: auto">@item.order_id</label>
                                        </td>
                                        <td>
                                            <label style="width: auto">@item.phone</label>
                                        </td>
                                        <td>
                                            <label style="width: auto">
                                                <a href="@("/OwnerOrder/ProfileCustomer?email="+ item.email)">@item.email</a>
                                            </label>
                                        </td>
                                        <td>
                                            <label style="width: auto">@item.address</label>
                                        </td>
                                        <td>
                                            <label style="width: auto">@item.order_date</label>
                                        </td>
                                        <td>
                                            <label style="width: auto">@Convert.ToDecimal(item.total_price).ToString("#,##0") đồng</label>
                                        </td>
                                        <td>
                                            <label style="width: auto">@item.note</label>
                                        </td>
                                        <td>
                                            <select name="status" id="@("status"+item.order_id)" class="form-control" onchange="changeStatusOrder(@item.order_id)">
                                                <option value="Chờ xử lý" selected="@(item.status == "Chờ xử lý")">Chờ xử lý</option>
                                                <option value="Đã xác nhận" selected="@(item.status == "Đã xác nhận")">Đã xác nhận</option>
                                                <option value="Đang vận chuyển" selected="@(item.status == "Đang vận chuyển")">Đang vận chuyển</option>
                                                <option value="Đã thanh toán" selected="@(item.status == "Đã thanh toán")">Đã thanh toán</option>
                                                <option value="Hủy đơn" selected="@(item.status == "Hủy đơn")">Hủy đơn</option>
                                            </select>
                                        </td>
                                        <td>
                                            <a class="btn btn-primary" onclick="detailOrder(@item.order_id)">Chi tiết</a>
                                        </td>
                                    </tr>
                                }
                            </table>
                        </div>

                    }
                    else
                    {
                        <p class="alert alert-danger">Danh sách đơn hàng trống</p>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="orderModal" tabindex="-1" role="dialog" aria-labelledby="orderModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="orderModalLabel">Chi tiết đơn hàng</h5>
            </div>
            <div class="modal-body">
                <!-- Nội dung chi tiết đơn hàng -->
                <h4>Tên sản phẩm</h4>
                <p>Mô tả sản phẩm</p>
                <p>Giá sản phẩm: $99</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" onclick="closeModal()">Đóng</button>
            </div>
        </div>
    </div>
</div>