@model BookShop.Data.Models.Users

@{
    ViewData["Title"] = "Profile Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@await Html.PartialAsync("response")

<div class="container-xxl py-5" style="margin-top: 100px">
    <div class="container">
        <div class="row g-0 gx-5 align-items-end">
            <div class="col-lg-6">
                <div class="section-header text-start mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
                    <h1 class="display-5 mb-3">Thông tin cá nhân</h1>
                </div>
            </div>
        </div>
        <div class="tab-content">
            <div id="tab-1" class="tab-pane fade show p-0 active">
                <div class="row">
                    <div class="col-md-4">
                        <div class="card">
                            @if (Model.image_url == "")
                            {
                                <img src="/imgProfile/avatar.png" class="card-img-top" alt="Avatar">
                            }
                            else
                            {
                                <img src="@Model.image_url" class="card-img-top" alt="Avatar">
                            }
                            <div class="card-body">
                                <h5 class="card-title">@Model.username</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Thông tin cá nhân</h5>
                                <p class="card-text">Họ và tên: @Model.name</p>
                                <p class="card-text">Email: @Model.email</p>
                                <p class="card-text">Số điện thoại: @Model.phone</p>
                                <p class="card-text">Địa chỉ: @Model.address</p>
                                <a style="cursor: pointer" onclick="openAdd()" class="btn btn-primary">Chỉnh sửa thông tin</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="add" tabindex="-1" role="dialog" aria-labelledby="productModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <form method="post" asp-action="UpdateProfile" asp-controller="Account" enctype="multipart/form-data">
                <div class="modal-header">
                    <h5 class="modal-title" id="productModalLabel">Chỉnh sửa thông tin cá nhân</h5>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>Tên người dùng *</label>
                        <input type="text" value="@Model.name" class="form-control" name="name" required placeholder="Nhập tên người dùng">
                    </div>
                    <div class="form-group">
                        <label>Mật khẩu</label>
                        <input class="form-control" type="password" name="password" placeholder="Nhập mật khẩu" />
                    </div>
                    <div class="form-group">
                        <label>Xác nhận mật khẩu</label>
                        <input class="form-control" type="password" name="confirmPassword" placeholder="Nhập xác nhận mật khẩu" />
                    </div>
                    <div class="form-group">
                        <label>Email* </label>
                        <input class="form-control" value="@Model.email" name="email" placeholder="Nhập email" required type="email" />
                    </div>
                    <div class="form-group">
                        <label>Số điện thoại *</label>
                        <input class="form-control" name="phone" value="@Model.phone" placeholder="Nhập số điện thoại" required type="tel" />
                    </div>
                    <div class="form-group">
                        <label>Địa chỉ *</label>
                        <input class="form-control" name="address" value="@Model.address" required />
                    </div>
                    <div class="form-group">
                        <label>Ảnh đại diện</label>
                        <input class="form-control" name="file" type="file" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" onclick="closeAdd()" class="btn btn-secondary">Đóng</button>
                    <button type="submit" class="btn btn-success">Chỉnh sửa</button>
                </div>
            </form>
        </div>
    </div>
</div>