@model List<BookShop.Data.Dtos.ProductDto>
@{
    ViewData["Title"] = "Search Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-xxl py-5" style="margin-top: 100px">
    <div class="container">
        <div class="row g-0 gx-5 align-items-end">
            <div class="col-lg-6">
                <div class="section-header text-start mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
                    <h1 class="display-5 mb-3">Kết quả tìm kiếm</h1>
                </div>
            </div>
        </div>
        <div class="tab-content">
            <div id="tab-1" class="tab-pane fade show p-0 active">
                <div class="row g-4" id="productListContainer">
                    @if (Model.Count() > 0)
                    {
                        var delay = 0.1;
                        @foreach (var item in Model)
                        {
                            <div class="col-xl-3 col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="@(delay + "s")">
                                <div class="product-item">
                                    <div class="position-relative bg-light overflow-hidden mt-2">
                                        <img class="img-fluid w-100" src="@item.image_url" alt="">
                                    </div>
                                    <div class="text-center p-4">
                                        <a class="d-block h5 mb-2" href="">@item.product_name</a>
                                        <span class="text-primary me-1">@Convert.ToDecimal(@item.price).ToString("#,##0") đồng</span>
                                    </div>
                                    <div class="d-flex border-top">
                                        <small class="w-50 text-center border-end py-2">
                                            <a class="text-body" href="@("/Product/Show?productId=" + item.product_id)"><i class="fa fa-eye text-primary me-2"></i>View detail</a>
                                        </small>
                                        <small class="w-50 text-center py-2">
                                            @if (item.quantity > 0)
                                            {
                                                <a class="text-body" asp-route="addcart" asp-route-productid="@item.product_id"><i class="fa fa-shopping-bag text-primary me-2"></i>Add to cart</a>
                                            }
                                            else
                                            {

                                                <a class="text-body"><i class="fa fa-shopping-bag text-primary me-2"></i>Hết hàng</a>
                                            }
                                        </small>
                                    </div>
                                </div>
                            </div>
                            delay += 0.1;
                        }
                    }
                    else
                    {
                        <p>Không có sản phẩm nào</p>
                    }
                </div>
            </div>
        </div>
    </div>
</div>