@model List<BookShop.Data.Models.Categories>

@{
    ViewData["Title"] = "QL_DanhMuc Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@await Html.PartialAsync("response")

<div class="container-xxl py-5" style="margin-top: 100px">
    <div class="container">
        <div class="row g-0 gx-5 align-items-end">
            <div class="col-lg-6">
                <div class="section-header text-start mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
                    <h1 class="display-5 mb-3">Thêm mới danh mục</h1>
                </div>
            </div>
        </div>
        <div class="tab-content">
            <div id="tab-1" class="tab-pane fade show p-0 active">
                <div class="row g-4">
                    <a class="btn btn-primary" onclick="openAdd()">Thêm mới</a>
                    @if (Model.Count > 0)
                    {
                        int stt = 1;
                        <div class="table-responsive card mt-2">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Tên danh mục</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody id="bodyRequest">
                                    @foreach (var item in Model)
                                    {

                                        <tr>
                                            <td>@(stt++)</td>
                                            <td>
                                                <label style="width: auto">@item.name</label>
                                            </td>
                                            <td>
                                                <a class="btn btn-primary" onclick="xoaDanhMuc(@item.category_id)">Xóa</a>
                                                <a class="btn btn-success" onclick="openUpdate(@item.category_id)">Sửa</a>

                                                <!-- Modal -->
                                                <div class="modal fade" id="@("update"+item.category_id)" tabindex="-1" role="dialog" aria-labelledby="productModalLabel" aria-hidden="true">
                                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                                        <div class="modal-content">
                                                            <form method="post" asp-action="Edit" asp-controller="AdminCategory">
                                                                <div class="modal-header">
                                                                    <h5 class="modal-title" id="productModalLabel">Chỉnh sửa sản phẩm</h5>
                                                                </div>
                                                                <div class="modal-body">
                                                                    <div class="form-group">
                                                                        <label>Tên danh mục</label>
                                                                        <input type="hidden" value="@item.category_id" name="category_id" />
                                                                        <input type="text" class="form-control" name="name" value="@item.name" required placeholder="Nhập tên danh mục">
                                                                    </div>
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="button" onclick="closeUpdate(@item.category_id)" class="btn btn-secondary">Đóng</button>
                                                                    <button type="submit" class="btn btn-success">Sửa</button>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>

                    }
                    else
                    {
                        <p class="alert alert-danger">Danh sách yêu cầu thêm mới danh mục trống</p>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="add" tabindex="-1" role="dialog" aria-labelledby="productModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <form method="post" asp-action="Create" asp-controller="AdminCategory">
                <div class="modal-header">
                    <h5 class="modal-title" id="productModalLabel">Thêm mới danh mục</h5>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>Tên danh mục</label>
                        <input type="text" class="form-control" name="name" required placeholder="Nhập tên danh mục">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" onclick="closeAdd()" class="btn btn-secondary">Đóng</button>
                    <button type="submit" class="btn btn-success">Thêm</button>
                </div>
            </form>
        </div>
    </div>
</div>